.readonly-grid {
  padding: 20px;
  overflow-x: auto;
}

.readonly-row {
  display: flex;
}

.readonly-cell {
  border: 1px solid #ccc;
  width: 100px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}

.time-label {
  background-color: #f0f0ff;
  font-weight: bold;
}

.day-label {
  background-color: #dbe0ff;
  font-weight: bold;
  color: #1a00ff;
}

.task-slot {
  background-color: #f5f5ff;
}

.readonly-task {
  background-color: #3300cc;
  color: white;
  border-radius: 6px;
  font-size: 12px;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 4px;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.home-main {
  display: flex;
  gap: 32px;
  flex: 1;
  padding: 24px;
  box-sizing: border-box;
}

.section-title {
  font-weight: bold;
  font-size: 18px;
  color: #1a00ff;
  margin-bottom: 12px;
  text-align: center;
}

.task-list-panel {
  flex: 1;
  margin-top: 50px;
  background-color: #f0f4ff;
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.task-list-title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 14px;
  color: #1a00ff;
  text-align: center;
  border-bottom: 2px solid #ccc;
  padding-bottom: 6px;
}

.task-list {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
}

.task-list-item {
  background-color: #dbe4ff;
  border-radius: 8px;
  padding: 10px 12px;
  margin-bottom: 10px;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.task-name {
  font-weight: bold;
  font-size: 14px;
  color: #1a00cc;
}

.task-time {
  font-size: 13px;
  color: #444;
}
